*{
    margin: 0; 
    padding: 0;
}


.nav{
    width: 1140px;
    height: 72px;
}

.image-1{
    padding-left: 70px;
    padding-top: 5px;
    width: 173px;
    height: 48px;
    position: relative;
}

.nav ul {
    list-style: none;
    text-align: center;
    margin-top: -35px;
}

.nav li{
    font-family: 'Inter', sans-serif;
    display: inline-block;
    margin: 0 15px;
    margin-bottom: 30px;
    color: #323232;
}

.nav a{
    color: inherit;
    text-decoration: none;
}

.nav {
    position: relative; 
    height: 60px; 
    padding: 0 20px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav ul li {
    display: inline-block; 
    margin-right: 15px;
}

.contact-div {
    width: 105px;
    height: 33px;
    background-color: #E9D7FE;
    color: #AC00FF;
    border: 1px solid #AC00FF;
    border-radius: 8px;
    text-align: center;
    line-height: 33px;
    position: absolute;
    top: 50%;
    right: 20px; 
    transform: translateY(-50%); 
}

.text {
    font-size: 14px;
    font-weight: 500;
    color:#AC00FF !important;
    margin: 0; 
    padding-top: 35px;
    font-family: 'Inter', sans-serif;
}

.simple{
    width: 1080px;
    height: 330px;
    margin: 0 auto;
    margin-top: 74px;
}   

.first-text{
    color: #323232;
    font-weight: 400;
    font-size: 64px;
    font-family: Impact;    
    text-align: left;
    padding-right: 350px;
}

.second-text{
    color: #323232;
    font-family: "Inria Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    padding-right: 250px;
    padding-top: 20px;
}

.button{
    width: 640px;
    height: 140px;
}


.join-button{
    width: 204px;
    height: 54px;
    border-radius: 8px;
    background-color: #5C3BAE;
    border-color: #5C3BAE;
    color: white;
    outline: none;
    border: 2px solid #6200ea;
    font-size: 20px;
    margin-top: 20px;
    display: inline-block;
}

.join-button a{
    color: white;
    text-decoration: none;
}

.xz{
    width: 250px;
    height: 100px;
    margin-top: 10px;
    display: inline-block;
    margin-top: 0;
}

.video{
    font-size: 18px;
    font-weight: 500;
    color: #4D3491;
    font-family: Inter;
    display: inline-block;
    padding-left: 60px;
}

.background{
    width: 1811px;
    height: 761px;
}   

.background img{
    position: absolute; right: 0;
}